{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "jsx": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect",
      "pragma": "React"
    }
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "max-len": ["error", {"code": 100}],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["error"],
    "no-return-assign": ["off"],
    "no-console": 2,
    "no-unused-vars": ["warn"],
    "no-prototype-builtins": 0,
    "react/jsx-uses-react": 1,
    "react/display-name": [0, {"ignoreTranspilerName": true}],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-curly-brace-presence": [
      2,
      {"props": "never", "children": "never"}
    ]
  }
}
