body {
  background-color: #282c34;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brick-10 {
  float: left;
  width: 100%;
}

.main-menu-list {
  width: 75%;
  margin: 2% auto;
}

.sub-menu-list {
  width: 20%;
  margin: 2% auto;
}

.main-menu-list li {
  margin: 0px 10px;
  font-size: 24px;
}

.sub-menu-list li {
  margin: 0px 6px;
  font-size: 16px;
}

.main-menu-list li, .sub-menu-list li {
  display: inline-block;
}

.side-menu-list {
  width: 150px;
  margin: 2% 70% 2% 15%;
}

.side-menu-list li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
}

.sub-menu-list li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

.sub-menu-list li.active, .sub-menu-list li.active a {
  background-color: #ffffff;
  color: #282c34;
}